<p>update-employee works!</p>
<div class="col-md-6 offset-md-3">
    <h1>Update Employee Record</h1>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="employee.id">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="employee.name">
            <label for="salary">Salary</label>
            <input type="number"class="form-control" id="salary" name="salary" [(ngModel)]="employee.salary">
        <br>
        <button class="btn btn-success" type="submit">Submit</button>
        </div>
    
    
    </form>
    
    </div>